<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>pacr.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9DE330451C017294007B6F58</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9DE3305C1C017296007B6F58</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9DE330671C017296007B6F58</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
